/* Space out content a bit */
body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  left: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
      overflow: hidden;
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
From gridster
*/

.container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
    overflow: hidden;
}

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .gridster-item {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
}

.gridster .gridster-item {
    background: #ffffff;
    overflow: hidden;
}

/* Hide the overflow of*/
/*** of a tile*/
/**/

li.vertical-container {
    overflow: hidden;
}

button.inner-button{
    height: 33%;
    width: 33%;
}

/*
** Inner vertical table
*/

/*table.inner-vertical-table {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

button.vertical-document {
    border: 1px solid #808080;
    margin: 10px;
    vertical-align:bottom;
    background: #FFFFFF;
}

div.ImageResult {
    width: 100%;
    height: 100%;
    min-width: 100%;
    position: relative;
    text-align: center;
    padding: 1em;
    vertical-align: middle;
}

img.image-document {
    /*position: absolute;*/
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#wrapper td {
    vertical-align: middle;
    text-align: center;
}

/*
** Video result
*/

div.VideoResult {
    position:relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align:center;
    padding: 0.5em;
    overflow: hidden;
}

img.video-document {
    width: 100%;
    height: 100%;
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

/* Video result play button */
img.play-button {
    position: absolute;
    background: #d4d4d4;
    width: 20%;
    height: 20%;
    /*z-index:1;*/
}

div.NewsResult {
    text-align: justify;
}

/*
**
** Current bundle
**
*/

li.current-bundle-item {
    padding: 1em;
}

div.current-bundle-container {
    max-height: 150px;
    background: aliceblue;
    align-content: center;
    align-self: center;
    align-items: center;
}

/*
** Current bundle remove button
*/

button.remove-button {
    position:absolute;
    top :1px;
    right:1px;
}

.current-bundle-item .remove-button {
    visibility: hidden;
}

.current-bundle-item:hover .remove-button {
    visibility: visible;
}

/*
** Current bundle holder --- empty text
*/

p#empty-bundle-text {
    text-align: center;
    position:absolute;
    top:50%;
    left: 50%;
}

/*
** Modal dialog
*/

.modal-body {
    min-height: 800px;
    min-width: 1200px;
    max-height: 800px;
    max-width: 1200px;
    width: 1200px;
    height: 800px;
}

.modal-dialog{
    min-height: 800px;
    min-width: 1200px;
    max-height: 800px;
    max-width: 1200px;
    width: 1200px;
    height: 800px;
}

.modal-content {
    min-height: 800px;
    min-width: 1200px;
    max-height: 800px;
    max-width: 1200px;
    width: 1200px;
    height: 800px;
}