<div ng-include="'partials/navbar'"></div>

<div id="task-container" ng-switch="taskState">
    <div ng-switch-when="build">

<h5>
    <ul>
        <li>Double click on an item to add it to your current bundle.</li>
        <li>Right click on an item to view item details.</li>
    </ul>
</h5>

<table>
    <tr>
        <td><strong>Current query:</strong></td>
        <td>{{data.qterms}}</td>
    </tr>
    <tr>
        <td><strong>Current size: </strong></td>
        <td>{{currentBundle.length}}</td>
    </tr>
    <td><strong>Current bundle:</strong></td>
    <td>{{currentBundleTypes}}</td>
    </tr>
    <tr>
        <td><strong>Bundles created:</strong></td>
        <td>{{allBundles.length}}</td>
    </tr>
</table>

<p><br></p>

<div style="margin-left: 200px; margin-right: 200px;">

    <div style="margin-bottom: 0.5em; width: 100%">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Give your bundle a title">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="submitCurrentBundle()">Submit current bundle</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <!--<input type="text" class="form-control" style="max-width: 200px;" placeholder="Username">-->
        <button type="button" class="btn btn-warning btn-default" style="float: right" ng-click="reviewAllBundles()">
            Review all bundles
        </button>
        <div style="clear: both;"></div>
    </div>

    <div gridster="bundleGridsterOpts" class="current-bundle-container">

        <p ng-if="currentBundle.length === 0" id="empty-bundle-text">Bundle is empty</p>

        <ul>
            <li gridster-item class="current-bundle-item" ng-repeat="doc in currentBundle">

                <button type="button" class="btn btn-default btn-xs remove-button"
                        ng-click="removeFromCurrentBundle($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

                <!-- Image -->
                <div class="ImageResult" ng-if="doc.__metadata.type == 'ImageResult'">
                    <img class="image-document" ng-src="{{doc.MediaUrl}}"></img>
                </div>

                <!-- Video -->
                <div class="VideoResult" ng-if="doc.__metadata.type == 'VideoResult'">
                    <img class="video-document" ng-src="{{doc.Thumbnail.MediaUrl}}"></img>
                </div>

                <!-- General Web-->
                <div class="WebResult" ng-if="doc.__metadata.type == 'WebResult'">
                    <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a>

                    <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                </div>

                <!-- News -->
                <div class="NewsResult" ng-if="doc.__metadata.type == 'NewsResult'">
                    <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a><br>
                    <strong>{{doc.Date | date:'yyyy-MM-dd HH:mm:ss'}}</strong>

                    <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                </div>

            </li>
        </ul>
    </div>
</div>

<br>

<div gridster="verticalGridsterOpts">
    <ul class="thumbnails">
        <li gridster-item class="vertical-container" id="{{$index}}" ng-repeat="vertical in data.qresults">

            <button class="vertical-document"
                    ng-repeat="doc in vertical"
                    ng-dblclick="addToCurrentBundle(doc)"
                    ng-right-click="showDocumentDetails(doc)"
                    style="height: {{getItemSize()}}px; width:{{getItemSize()}}px; ">

                <!-- Image -->
                <div class="ImageResult" ng-if="doc.__metadata.type == 'ImageResult'">
                    <img class="image-document" ng-src="{{doc.MediaUrl}}"></img>
                </div>

                <!-- Video -->
                <div class="VideoResult" ng-if="doc.__metadata.type == 'VideoResult'">
                    <img class="play-button"
                         src="https://cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/512/youtube.png"></img>
                    <img class="video-document" ng-src="{{doc.Thumbnail.MediaUrl}}"></img>
                </div>

                <!-- General Web-->
                <div class="WebResult" ng-if="doc.__metadata.type == 'WebResult'">
                    <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a>

                    <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                </div>

                <!-- News -->
                <div class="NewsResult" ng-if="doc.__metadata.type == 'NewsResult'">
                    <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a><br>
                    <strong>{{doc.Date | date:'yyyy-MM-dd HH:mm:ss'}}</strong>

                    <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                </div>

            </button>

        </li>
    </ul>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <iframe style="height:100%; width:100%;" ng-src="{{source}}" frameborder="1" allowfullscreen
            sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
</script>
    </div>

    <div ng-switch-when="review">
         <div ng-include="'partials/taskReview.html'"></div>
    </div>

</div>

<div class="footer">
    Bundles, with love.
</div>