<div style="margin-bottom: 0.5em;">
    <button type="button" class="btn btn-default btn-default" style="margin-right: 1em" ng-click="resetTaskState()">
        Go back
    </button>

    <button type="button" class="btn btn-warning btn-default" ng-click="navigateToNextTask()">
        Next task
    </button>

</div>

<div id="all-bundles-container">

    <div ng-repeat="bundle in allBundles">

        <p ng-if="bundle.length > 0">Bundle {{$index + 1}}</p>

        <div gridster="bundleGridsterOpts" style="margin: 1em;" ng-if="bundle.length > 0">

            <ul>
                <li gridster-item ng-repeat="doc in bundle" class="current-bundle-item">

                    <button type="button" class="btn btn-default btn-xs remove-button" ng-click="removeDocumentFromBundle($parent.$index, $index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <!-- Image -->
                    <div class="ImageResult" ng-if="doc.__metadata.type == 'ImageResult'">
                        <img class="image-document" ng-src="{{doc.MediaUrl}}"></img>
                    </div>

                    <!-- Video -->
                    <div class="VideoResult" ng-if="doc.__metadata.type == 'VideoResult'">
                        <img class="video-document" ng-src="{{doc.Thumbnail.MediaUrl}}"></img>
                    </div>

                    <!-- General Web-->
                    <div class="WebResult" ng-if="doc.__metadata.type == 'WebResult'">
                        <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a>

                        <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                    </div>

                    <!-- News -->
                    <div class="NewsResult" ng-if="doc.__metadata.type == 'NewsResult'">
                        <a href="{{doc.Url}}" target="_blank">{{doc.Title}}</a><br>
                        <strong>{{doc.Date | date:'yyyy-MM-dd HH:mm:ss'}}</strong>

                        <p style="text-align: justify; margin-top: 1em;">{{doc.Description}}</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
